.total {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  rgb(20, 20, 20);
    padding: 20px;
    border-radius: 15px;
}

.total img {
    width: 230px;
    margin-bottom: 15px;
}

.total p {
    color: white;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.total button {
    color: white;
    background-color: #9343fd;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 6px 10px;
}

.total button:hover {
    background-color: rgb(97, 22, 196);
    color: rgb(197, 196, 196);
}

.eliminarCarrito {
    margin-bottom: 10px;
    width: 40%;
    color: white;
    background-color: rgb(147, 67, 253);
    padding: 6px;
    font-size: 1.1rem;
    font-weight: 600;
}

.eliminarCarrito:hover {
    background-color: rgb(97, 22, 196);
    color: rgb(197, 196, 196);
}

.cartContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}