.encabezado {
	background-color: black;
	border-top: 4px solid rgb(147, 67, 253);
	padding: 10px;
}

.encabezado li {
	display: flex;
    list-style: none;
    margin: 0 20px;
    align-items: center;
}

.encabezado li a {
	text-decoration: none;
	color: white;
	font-size: 1.1rem;
	font-weight: 700;
}

.encabezado li a:hover {
	color: rgb(147, 67, 253);
}

.logo {
	margin-left: 20px;
	color: white;
	font-size: 1.5rem;
}

.logo span {
	color: rgb(147, 67, 253);
}

.logo:hover {
	color: white;
}